<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="add-member" class="offcanvas offcanvas-end offcanvas-aside" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="offcanvas-add-members">
    <!-- Offcanvas Header -->
    <div class="offcanvas-header py-4 py-lg-7 border-bottom ">
        <a class="icon icon-lg text-muted" href="#" data-bs-dismiss="offcanvas">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-chevron-left">
                <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
        </a>

        <div class="visibility-xl-invisible overflow-hidden text-center">
            <h5 class="text-truncate">Members</h5>
            <p class="text-truncate">Add new members</p>
        </div>

        <a class="icon icon-lg text-muted" data-bs-toggle="collapse" href="#search-members" role="button"
           aria-expanded="false" aria-controls="search-members" onclick="event.preventDefault();">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-filter">
                <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
            </svg>
        </a>
    </div>
    <!-- Offcanvas Header -->

    <!-- Offcanvas Body -->
    <div class="offcanvas-body hide-scrollbar py-0">

        <!-- Search -->
        <div class="collapse" id="search-members">
            <div class="border-bottom py-6">

                <form action="#">
                    <div class="input-group">
                        <div class="input-group-text" id="search-user">
                            <div class="icon icon-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-search">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                            </div>
                        </div>

                        <input type="text" class="form-control form-control-lg ps-0" placeholder="User name or phone"
                               aria-label="User name or phone" aria-describedby="search-user">
                    </div>
                </form>

            </div>
        </div>
        <!-- Search -->

        <!-- Members -->
        <ul class="list-group list-group-flush" id="containerMember">

        </ul>
        <!-- Members -->
    </div>
    <!-- Offcanvas Body -->

    <!-- Offcanvas Footer -->
    <div class="offcanvas-footer border-top py-4 py-lg-7">
        <div href="#" onclick="addMember()" class="btn btn-lg btn-primary w-100 d-flex align-items-center">
            Add members

            <span class="icon ms-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-chevron-right"><polyline
                                    points="9 18 15 12 9 6"></polyline></svg>
                        </span>
        </div>
    </div>
</div>

</html>