<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title layout:fragment = "title">Title</title>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/img/logo.png}" type="image/x-icon">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/template.bundle.css}">
    <link th:href="@{/toastr/css/toastr.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/sweetalert2.min.css}">
</head>
<body class="bg-light">
<div class="swal2-container swal2-center swal2-backdrop-show" id="loader" style="display: none; text-align: center">
    <div class="swal2-popup swal2-modal swal2-icon-warning swal2-show" style="display: grid;background: transparent;margin-top: 40vh; align-items: center; text-align: center">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>
<div th:replace="/component/alert/erroralert :: erroralert"></div>
<div layout:fragment="acount-content">

</div>
<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const callAjax = async (url, data, method) => {
        let out;
        await $.ajax({
            url: url,
            data: data,
            error: function () {
                console.log("error")
            },
            success: function (dataOut) {
                out = dataOut;
            },
            type: method
        });
        return out;
    }
</script>
<script th:src="@{/assets/js/vendor.js}"></script>
<script th:src="@{/assets/js/template.js}"></script>
<script th:src="@{/toastr/common.min.js}"></script>
<script th:src="@{/toastr/js/toa.js}"></script>
</body>
</html>