<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="chat" class="tab-pane fade h-100 show active" id="tab-content-chats" role="tabpanel">
    <div class="d-flex flex-column h-100 position-relative">
        <div class="hide-scrollbar">

            <div class="container py-8">
                <!-- Title -->
                <div class="mb-8">
                    <h2 class="fw-bold m-0">Tin nhắn</h2>
                </div>

                <!-- Search -->
                <div class="mb-6">
                    <form action="#">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="icon icon-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                </div>
                            </div>

                            <input type="text" class="form-control form-control-lg ps-0" placeholder="Search messages or users" aria-label="Search for messages or users...">
                        </div>
                    </form>
                </div>

                <!-- Chats -->
                <div class="card-list" id="contentUserMessage">
                    <!-- Card -->
                    <th:block th:each="messageUser: ${messageUsers}">
                        <div th:if="${messageUser.active && messageUser.users.size() == 1}"
                             th:attr="onclick=|onRoomMessage('${messageUser.roomCode}')|"
                             class="card border-0 text-reset"
                           th:id="'messUser' + ${userOnline + messageUser.roomCode}">
                            <div class="card-body">
                                <div class="row gx-5">
                                    <div class="col-auto">
                                        <div th:class="${messageUser.isFriend ? (messageUser.isOnline() ? 'avatar avatar-online' : 'avatar avatar-offline') : 'avatar'}"
                                             th:id="${messageUser.isFriend ? messageUser.users.get(0).username : messageUser.users.get(0).username + 'NotFriend'}">
                                            <img th:src="@{${messageUser.users.get(0).image}}" alt="#" class="avatar-img">
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="d-flex align-items-center mb-3">
                                            <h5 th:class="'me-auto mb-0 ' + ${messageUser.status == 1 ? 'messageSend' : ''}" th:name="'messUser' + ${userOnline + messageUser.roomCode}">[[${messageUser.name}]]</h5>
                                            <span th:class="'text-muted extra-small ms-2 ' + ${messageUser.status == 1 ? 'messageSend' : ''}" th:name="'messUser' + ${userOnline + messageUser.roomCode}">[[${messageUser.time}]]</span>
                                        </div>

                                        <div class="d-flex align-items-center">
                                            <div th:class="'line-clamp me-auto ' + ${messageUser.status == 1 ? 'messageSend' : ''}" th:name="'messUser' + ${userOnline + messageUser.roomCode}">
                                                [[${messageUser.messageLast}]]
                                            </div>
                                            <div class="badge badge-circle bg-primary ms-5">
                                                <span th:name="'messUser' + ${userOnline + messageUser.roomCode}">[[${messageUser.countMess}]]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card-body -->
                        </div>

                        <div th:if="${messageUser.users.size() != 1}"
                             th:attr="onclick=|onRoomMessageGroup('${messageUser.roomCode}')|"
                             th:id="'messUser' + ${userOnline + messageUser.roomCode}"
                             class="card border-0 text-reset">
                            <div class="card-body">
                                <div class="row gx-5">
                                    <div class="col-auto">
                                        <div th:if="${messageUser.roomDetail.room.image == null}" class="avatar-group-trigon avatar-group-trigon-sm">
                                            <div class="avatar avatar-sm">
                                                <img class="avatar-img" th:src="@{${messageUser.users.get(0).image}}" alt="#">
                                            </div>

                                            <div class="avatar avatar-sm">
                                                <img class="avatar-img" th:src="@{${messageUser.users.get(1).image}}" alt="#">
                                            </div>

                                            <div class="avatar avatar-sm" th:if="${messageUser.users.size() > 2}">
                                                <img class="avatar-img" th:src="@{${messageUser.users.get(2).image}}" alt="#">
                                            </div>

                                            <div class="avatar avatar-sm" th:if="${messageUser.users.size() == 2}">
                                                <span class="avatar-text bg-primary">+</span>
                                            </div>
                                        </div>
                                        <div class="avatar" th:if="${messageUser.roomDetail.room.image != null}">
                                            <img th:src="@{${messageUser.roomDetail.room.image}}" alt="#" class="avatar-img">
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="d-flex align-items-center mb-3">
                                            <h5 th:class="'me-auto mb-0 ' + ${messageUser.status == 1 ? 'messageSend' : ''}" th:name="'messUser' + ${userOnline + messageUser.roomCode}">[[${messageUser.name}]]</h5>
                                            <span th:class="'text-muted extra-small ms-2 ' + ${messageUser.status == 1 ? 'messageSend' : ''}" th:name="'messUser' + ${userOnline + messageUser.roomCode}">[[${messageUser.time}]]</span>
                                        </div>

                                        <div class="d-flex align-items-center">
                                            <div th:class="'line-clamp me-auto ' + ${messageUser.status == 1 ? 'messageSend' : ''}" th:name="'messUser' + ${userOnline + messageUser.roomCode}">
                                                [[${messageUser.messageLast}]]
                                            </div>
                                            <div class="badge badge-circle bg-primary ms-5">
                                                <span th:name="'messUser' + ${userOnline + messageUser.roomCode}">[[${messageUser.countMess}]]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card-body -->
                        </div>
                    </th:block>
                    <!-- Card -->
                </div>
                <!-- Chats -->
            </div>

        </div>
    </div>
</div>

</html>