<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="friend" class="tab-pane fade h-100" id="tab-content-friends" role="tabpanel">
    <div class="d-flex flex-column h-100">
        <div class="hide-scrollbar">

            <div class="container py-8">

                <!-- Title -->
                <div class="mb-8">
                    <h2 class="fw-bold m-0">Bạn bè</h2>
                </div>

                <!-- Search -->
                <div class="mb-6">
                    <div class="mb-5">
                        <form action="#">
                            <div class="input-group">
                                <div class="input-group-text">
                                    <div class="icon icon-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                    </div>
                                </div>

                                <input type="text" class="form-control form-control-lg ps-0" placeholder="Search messages or users" aria-label="Search for messages or users...">
                            </div>
                        </form>
                    </div>

                    <ul class="nav nav-pills nav-justified" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="pill" href="#friend-list" role="tab" aria-controls="create-chat-info" aria-selected="true">
                                Bạn bè
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#friend-request" role="tab" aria-controls="create-chat-members" aria-selected="true">
                                Lời mời kết bạn
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Tabs content -->
                <div class="tab-content" role="tablist">
                    <div class="tab-pane fade show active" id="friend-list" role="tabpanel">
                                        <div class="card-list" id="containerFriend">
                                            <th:block th:each="friend:${friend}">
                                                <div class="card border-0" th:id="${'friend' + friend.username}">
                                                    <div class="card-body">
                                                        <div class="row align-items-center gx-5">
                                                            <div class="col-auto">
                                                                <a href="#" th:class="${friend.isOnline() ? 'avatar avatar-online' : 'avatar avatar-offline'}" th:id="${friend.username} + 'Friend'">
                                                                    <img class="avatar-img" th:src="@{${friend.image}}" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="col">
                                                                <h5><a href="#">[[${friend.getFullname()}]]</a></h5>
                                                                <p class="text-truncate" id="statusOnFriend" th:class="${friend.username}+'Friend'"
                                                                   th:text="${friend.isOnline() ? 'Đang hoạt động' : 'Không hoạt động'}"></p>
                                                            </div>
                                                            <div class="col-auto">
                                                                <!-- Dropdown -->
                                                                <div class="dropdown">
                                                                    <a class="icon text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                                                    </a>

                                                                    <ul class="dropdown-menu">
                                                                        <li><a class="dropdown-item"
                                                                               th:attr="onclick=|checkRoomByUser('${friend.username}','${friend.id}')|"
                                                                               href="#">Gửi tin nhắn</a></li>
                                                                        <li>
                                                                            <hr class="dropdown-divider">
                                                                        </li>
                                                                        <li>
                                                                            <a class="dropdown-item text-danger" href="#">Chặn</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </th:block>
                                        </div>

                    </div>

                    <!-- Members -->
                    <div class="tab-pane fade" id="friend-request" role="tabpanel">
                        <th:block th:each="friendRequest:${friendRequests}">
                            <div th:id="${'friendRequest' + friendRequest.user.id}" class="card border-0 mb-5">
                                <div class="card-body">
                                    <div class="row gx-5">
                                        <div class="col-auto">
                                            <!-- Avatar -->
                                            <a href="#" class="avatar">
                                                <img class="avatar-img" th:src="@{${friendRequest.user.image}}" alt="">
                                                <div class="badge badge-circle bg-primary border-outline position-absolute bottom-0 end-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex align-items-center mb-2">
                                                <h5 class="me-auto mb-0">
                                                    <a href="#">[[${friendRequest.getUser().getFullname()}]]</a>
                                                </h5>
                                                <span class="extra-small text-muted ms-2">[[${friendRequest.getTime()}]]</span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="me-auto">Đã gửi cho bạn lời mời kết bạn.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <div class="row gx-5">
                                        <div class="col">
                                            <a href="#" class="btn btn-sm btn-secondary w-100"
                                               th:attr="onclick=|refuseFriendRequest('${friendRequest.getUser().id}')|"
                                            >Xoá</a>
                                        </div>
                                        <div class="col">
                                            <a href="#" class="btn btn-sm btn-primary w-100"
                                               th:attr="onclick=|agreeFriendRequest('${friendRequest.getUser().id}','${friendRequest.getUser().getFullname()}','${friendRequest.getUser().username}','${friendRequest.user.image}')|"
                                            >Chấp nhận</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <!-- Tabs content -->
            </div>

        </div>
        <!-- Button -->
    </div>
</div>

</html>