<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="search" class="tab-pane fade h-100" id="tab-content-search" role="tabpanel">
    <div class="d-flex flex-column h-100">
        <div class="hide-scrollbar">
            <div class="container py-8">
                <!-- Title -->
                <div class="mb-8">
                    <h2 class="fw-bold m-0">Tìm kiếm</h2>
                </div>
                <!-- Search -->
                <div class="mb-6">
                    <form action="#">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="icon icon-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="feather feather-search">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                </div>
                            </div>
                            <input onkeyup="onSearch()" id="keyword" type="text"
                                   class="form-control form-control-lg ps-0"
                                   placeholder="Tìm theo tên người dùng hoặc địa chỉ email"
                                   aria-label="Search for messages or users...">
                        </div>
                    </form>
                </div>

                <!-- List -->
                <div class="card-list" id="UserSearchList">

                </div>
            </div>
        </div>
    </div>
    <script>
        function onSearch() {
            $.ajax({
                url: 'user/search',
                data: {
                    keyword: document.querySelector("#keyword").value
                },
                error: function () {
                    console.log("error")
                },
                success: async function (data) {
                    let userSearchList = document.getElementById("UserSearchList");
                    userSearchList.innerHTML = "";
                    for (let i = 0; i < data.length; i++) {
                        console.log(data[i])
                        let isFriend = document.querySelector("#friend" + data[i].username) == null ? false : true;
                        let avatarOnline = "";
                        let status = "";
                        let username = data[i].username;
                        let liAddFriend = "<li><a class='dropdown-item'>Kết bạn</a></li>";
                        if(isFriend){
                            if(data[i].online){
                                avatarOnline = 'avatar-online';
                                status = "Đang hoạt động";
                            } else {
                                avatarOnline = 'avatar-offline';
                                status = "Không hoạt động";
                            }

                        } else {
                            status = data[i].username;
                        }
                        if(data[i].friendStatus == 'OFF'){
                            liAddFriend = "";
                        }
                        userSearchList.innerHTML +=
                            "<div class='card border-0'>" +
                            "<div class='card-body'>" +
                            "<div class='row align-items-center gx-5'>" +
                            "<div class='col-auto'>" +
                            "<a href='#' class='avatar "+avatarOnline+"' id=''>" +
                            "<img class='avatar-img' src='"+data[i].image+"' alt=''></a>" +
                            "</div>" +
                            "<div class='col' data-bs-toggle=\"modal\" data-bs-target=\"#modal-user-profile\" onclick='showModalUserProfile("+
                            "\""+data[i].fullName+"\" "+
                            ",\""+data[i].image+"\""+
                            ",\""+data[i].descreption+"\""+
                            ",\""+data[i].username+"\""+
                            ",\""+data[i].email+"\""+
                            ",\""+data[i].phone+"\""+
                            ",\""+data[i].birthdayString+"\""+
                            ",\""+data[i].gender+"\""+
                            ")'>" +
                            "<h5><a href='#'>"+data[i].fullName+"</a></h5>" +
                            "<p class='text-truncate'>"+status+"</p>" +
                            "</div>" +
                            "<div class='col-auto'>" +
                            "<div class='dropdown'>" +
                            "<a class='icon text-muted' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false'>" +
                            "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'" +
                            "stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'" +
                            "class='feather feather-search'>" +
                            "<circle cx='12' cy='12' r='1'></circle>" +
                            "<circle cx='12' cy='5' r='1'></circle>" +
                            "<circle cx='12' cy='19' r='1'></circle>" +
                            "</svg>" +
                            "</a>" +
                            "<ul class='dropdown-menu'>" +
                            "<li><div onclick='checkRoomByUser(\""+data[i].username+"\", "+data[i].id+")' class='dropdown-item'>Gửi tin nhắn</div></li>" +
                            liAddFriend +
                            "</ul> </div> </div> </div> </div> </div>"
                    }
                },
                type: 'POST'
            });
        }

        function checkRoomByUser(username, userId){
            let userOnline = document.getElementById("userOnline").value;
            let divRoom = document.getElementById('messUser' + userOnline + username);
            if(divRoom != null){
                divRoom.click();
            }
            else {
                $.ajax({
                    url: 'message/create-room',
                    data: {
                        userId: userId
                    },
                    error: function () {
                        console.log("error")
                    },
                    success: function (data) {
                        console.log(data)
                        let contentUserMessage = document.getElementById("contentUserMessage");
                        let name = 'messUser' + document.querySelector("#userOnline").value + data.username;
                        let idUsername = data.username + "NotFriend";
                        let statusOnline = "avatar";
                        if(data.friend){
                            idUsername = data.username;
                            if(data.online){
                                statusOnline = "avatar avatar-online";
                            } else {
                                statusOnline = "avatar avatar-offline";
                            }
                        }

                        contentUserMessage.innerHTML =
                            "<div onclick='onRoomMessage(\""+data.roomCode+"\")' " +
                            "class='card border-0 text-reset' id='"+name+"'>" +
                            "<div class='card-body'>" +
                            "<div class='row gx-5'>" +
                            "<div class='col-auto'>" +
                            "<div class='"+statusOnline+"' id='" + idUsername + "'>" +
                            "<img src='" + data.image + "' alt='#' class='avatar-img'>" +
                            "</div>" +
                            "</div>" +

                            "<div class='col'>" +
                            "<div class='d-flex align-items-center mb-3'>" +
                            "<h5 class='me-auto mb-0 messageSend' name='" + name + "'>" + data.name + "</h5>" +
                            "<span class='text-muted extra-small ms-2 messageSend' name='" + name + "'>"+data.time+"</span>" +
                            "</div>" +

                            "<div class='d-flex align-items-center'>" +
                            "<div class='line-clamp me-auto messageSend' name='" + name + "'>" +
                            data.messageLast +
                            "</div>" +
                            "<div class='badge badge-circle bg-primary ms-5'>" +
                            "<span name='" + name + "'>1</span>" +
                            "</div>" +
                            "</div>" +
                            "</div>" +
                            "</div>" +
                            "</div>" +
                            "</div>" + contentUserMessage.innerHTML;

                        document.getElementById(name).click();
                    },
                    type: 'POST'
                });
            }
        }

        function showModalUserProfile(fullName,image,descreption,username,email,phone,birthdayString,gender){
            document.getElementById("usernameDetailModal").innerText = username;
            document.getElementById("fullnameDetailModal").innerText = fullName;
            document.getElementById("avtDetailModal").src = image;
            document.getElementById("emailDetailModal").innerText = email;
            document.getElementById("descriptionModal").innerText = descreption;
            document.getElementById("phoneDetailModal").innerText = phone;
            document.getElementById("birthDayDetailModal").value = birthdayString;
            if(gender == 'true'){
                document.getElementById("genderDetailModal").innerText = 'Nam';
            } else {
                document.getElementById("genderDetailModal").innerText = 'Nữ';
            }
        }
    </script>
</div>

</html>