<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="setting" class="tab-pane fade h-100" id="tab-content-settings" role="tabpanel">
    <div class="d-flex flex-column h-100">
        <div class="hide-scrollbar">
            <div class="container py-8">

                <!-- Title -->
                <div class="mb-8">
                    <h2 class="fw-bold m-0">Cài đặt</h2>
                </div>

                <!-- Profile -->
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row align-items-center gx-5">
                            <div class="col-auto">
                                <div class="avatar">
                                    <img onclick="chooseFile()" id="avatarView" class="avatar-img"
                                         th:src="@{${user.image}}" alt="">
                                    <div class="badge badge-circle bg-secondary border-outline position-absolute bottom-0 end-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-image">
                                            <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                                            <circle cx="8.5" cy="8.5" r="1.5"></circle>
                                            <polyline points="21 15 16 10 5 21"></polyline>
                                        </svg>
                                    </div>
                                    <input id="uploadProfilePhoto" onchange="setImage()" style="display:none;"
                                           type="file">
                                </div>
                            </div>
                            <div class="col">
                                <h5>[[${user.getFullname()}]]</h5>
                                <p>[[${user.email}]]</p>
                            </div>
                            <div class="col-auto">
                                <a th:href="@{'/signout'}" class="text-muted">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-log-out">
                                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                            <polyline points="16 17 21 12 16 7"></polyline>
                                            <line x1="21" y1="12" x2="9" y2="12"></line>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <button style="margin-top: 10px; display: none" onclick="saveUploadImage()"
                                    id="saveImageUpload" class="btn btn-primary">Lưu
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Profile -->

                <!-- Account -->
                <div class="mt-8">
                    <div class="d-flex align-items-center mb-4 px-6">
                        <small class="text-muted me-auto">Tài khoản</small>
                    </div>

                    <div class="card border-0">
                        <div class="card-body py-2">
                            <!-- Accordion -->
                            <div class="accordion accordion-flush" id="accordion-profile">
                                <div class="accordion-item">
                                    <div class="accordion-header" id="accordion-profile-1">
                                        <a href="#" class="accordion-button text-reset collapsed"
                                           data-bs-toggle="collapse" data-bs-target="#accordion-profile-body-1"
                                           aria-expanded="false" aria-controls="accordion-profile-body-1">
                                            <div>
                                                <h5>Thông tin cá nhân</h5>
                                                <p>Thay đổi thông tin cá nhân</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div id="accordion-profile-body-1" class="accordion-collapse collapse"
                                         aria-labelledby="accordion-profile-1" data-parent="#accordion-profile">
                                        <form id="updateUser">
                                            <div class="accordion-body">
                                                <input type="hidden" name="id" th:value="${user.id}">
                                                <div class="col-lg-12" style="margin-bottom: 20px">
                                                    <input onkeydown="onUpdateProfile()" name="username"
                                                           th:value="${user.username}" type="text" class="form-control"
                                                           placeholder="Tên người dùng">
                                                </div>
                                                <div class="col-lg-12" style="margin-bottom: 20px">
                                                    <input onkeydown="onUpdateProfile()" name="lastName"
                                                           th:value="${user.lastName}" type="text" class="form-control"
                                                           placeholder="Họ">
                                                </div>
                                                <div class="col-lg-12" style="margin-bottom: 20px">
                                                    <input onkeydown="onUpdateProfile()" name="firstName"
                                                           th:value="${user.firstName}" type="text" class="form-control"
                                                           placeholder="Tên">
                                                </div>
                                                <div class="col-lg-12" style="margin-bottom: 20px">
                                                    <input onkeydown="onUpdateProfile()" name="phone"
                                                           th:value="${user.phone}" type="text" class="form-control"
                                                           placeholder="Số điện thoại">
                                                </div>
                                                <div class="col-lg-12" style="margin-bottom: 20px">
                                                    <p>Ngày sinh</p>
                                                    <input name="birthday" onchange="onUpdateProfile()"
                                                           th:value="${user.getBirthDayString()}" type="date"
                                                           class="form-control">
                                                </div>
                                                <div class="col-lg-12" style="margin-bottom: 20px">
                                                    <div th:if="${user.gender == true}" class="row"
                                                         style="padding: 0 20px">
                                                        <div class="col-lg-5"
                                                             style="padding: 10px; border: 1px solid #a0b3ce; border-radius: 10px">
                                                            <input name="gender" value="true" checked type="radio">
                                                            &ensp;Nam
                                                        </div> &ensp;&ensp;
                                                        <div class="col-lg-5"
                                                             style="padding: 10px; border: 1px solid #a0b3ce; border-radius: 10px">
                                                            <input onclick="onUpdateProfile()" name="gender"
                                                                   value="false" type="radio">&ensp;Nữ
                                                        </div>
                                                    </div>
                                                    <div th:if="${user.gender != true}" class="row"
                                                         style="padding: 0 20px">
                                                        <div class="col-lg-5"
                                                             style="padding: 10px; border: 1px solid #a0b3ce; border-radius: 10px">
                                                            <input name="gender" onclick="onUpdateProfile()"
                                                                   value="true" type="radio"> &ensp;Nam
                                                        </div> &ensp;&ensp;
                                                        <div class="col-lg-5"
                                                             style="padding: 10px; border: 1px solid #a0b3ce; border-radius: 10px">
                                                            <input name="gender" value="false" checked type="radio">&ensp;Nữ
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12" style="margin-bottom: 20px">
                                                    <p>Mô tả ngắn</p>
                                                    <textarea onclick="onUpdateProfile()" name="description"
                                                              class="form-control" cols="8" maxlength="100">[[${user.description}]]</textarea>
                                                </div>
                                                <button type="submit" id="btnUpdateProfile" disabled
                                                        class="btn btn-block btn-lg btn-primary w-100">Cập nhật
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <div class="accordion-header" id="accordion-profile-2">
                                        <a href="#" class="accordion-button text-reset collapsed"
                                           data-bs-toggle="collapse" data-bs-target="#accordion-profile-body-2"
                                           aria-expanded="false" aria-controls="accordion-profile-body-2">
                                            <div>
                                                <h5>Kết nối</h5>
                                                <p>Kết nối với các tài khoản</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div id="accordion-profile-body-2" class="accordion-collapse collapse"
                                         aria-labelledby="accordion-profile-2" data-parent="#accordion-profile">
                                        <div class="accordion-body">
                                            <div class="form-floating mb-6">
                                                <input type="text" class="form-control" id="profile-twitter"
                                                       placeholder="Twitter">
                                                <label for="profile-twitter">Twitter</label>
                                            </div>

                                            <div class="form-floating mb-6">
                                                <input type="text" class="form-control" id="profile-facebook"
                                                       placeholder="Facebook">
                                                <label for="profile-facebook">Facebook</label>
                                            </div>

                                            <div class="form-floating mb-6">
                                                <input type="text" class="form-control" id="profile-instagram"
                                                       placeholder="Instagram">
                                                <label for="profile-instagram">Instagram</label>
                                            </div>

                                            <button type="button" class="btn btn-block btn-lg btn-primary w-100">Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item" th:if="${isAdmin != null}">
                                    <div class="accordion-header">
                                        <a th:href="@{/admin/trang-chu}" class="accordion-button text-reset collapsed">
                                            <div>
                                                <h5>Quản trị</h5>
                                                <p>Chuyển đến trang quản trị</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Account -->

                <!-- Security -->
                <div class="mt-8">
                    <div class="d-flex align-items-center my-4 px-6">
                        <small class="text-muted me-auto">Bảo mật</small>
                    </div>

                    <div class="card border-0">
                        <div class="card-body py-2">
                            <!-- Accordion -->
                            <div class="accordion accordion-flush" id="accordion-security">
                                <div class="accordion-item">
                                    <div class="accordion-header" id="accordion-security-1">
                                        <a href="#" class="accordion-button text-reset collapsed"
                                           data-bs-toggle="collapse" data-bs-target="#accordion-security-body-1"
                                           aria-expanded="false" aria-controls="accordion-security-body-1">
                                            <div>
                                                <h5>Mật khẩu</h5>
                                                <p>Thay đổi mật khẩu</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div id="accordion-security-body-1" class="accordion-collapse collapse"
                                         aria-labelledby="accordion-security-1" data-parent="#accordion-security">
                                        <div class="accordion-body">
                                            <form autocomplete="on" id="changePassword">
                                                <div class="col-lg-12" style="margin-bottom: 20px">
                                                    <input name="password" type="password" class="form-control"
                                                           placeholder="Mật khẩu cũ">
                                                </div>
                                                <div class="col-lg-12" style="margin-bottom: 20px">
                                                    <input name="newPassword" type="password" class="form-control"
                                                           placeholder="Mật khẩu mới">
                                                </div>
                                                <div class="col-lg-12" style="margin-bottom: 20px">
                                                    <input name="comfirmPassword" type="password" class="form-control"
                                                           placeholder="Nhập lại mật khẩu mới">
                                                </div>
                                                <button type="submit" class="btn btn-block btn-lg btn-primary w-100">Đổi
                                                    mật khẩu
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Switch -->
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h5>Two-step verifications</h5>
                                                <p>Enable two-step verifications</p>
                                            </div>
                                            <div class="col-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox"
                                                           id="accordion-security-check-1">
                                                    <label class="form-check-label"
                                                           for="accordion-security-check-1"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Security -->

                <!-- Storage -->
                <div class="mt-8">
                    <div class="d-flex align-items-center my-4 px-6">
                        <small class="text-muted me-auto">Hệ thống</small>
                    </div>

                    <div class="card border-0">
                        <div class="card-body py-2">
                            <!-- Accordion -->
                            <div class="accordion accordion-flush" id="accordion-storage">
                                <div class="accordion-item">
                                    <div class="accordion-header" id="accordion-storage-1">
                                        <a href="#" class="accordion-button text-reset collapsed"
                                           data-bs-toggle="collapse" data-bs-target="#accordion-storage-body-1"
                                           aria-expanded="false" aria-controls="accordion-storage-body-1">
                                            <div>
                                                <h5>Ngôn ngữ</h5>
                                                <p>Thay đổi ngôn ngữ</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div id="accordion-storage-body-1" class="accordion-collapse collapse"
                                         aria-labelledby="accordion-storage-1" data-parent="#accordion-storage">
                                        <div class="accordion-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 m-4">
                                                    <a href="#" onclick="doGTranslate('vi|vi');return false;"
                                                       title="Tiếng Việt"
                                                    ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Flag_of_North_Vietnam_%281955%E2%80%931976%29.svg/230px-Flag_of_North_Vietnam_%281955%E2%80%931976%29.svg.png"
                                                          style="width: 25px"
                                                          alt="English"/> &ensp;Tiếng Việt</a>
                                                </div>
                                                <div class="col-12 m-4">
                                                    <a href="#" onclick="doGTranslate('vi|zh-CN');return false;"
                                                       title="Tiếng Trung"
                                                    ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/225px-Flag_of_the_People%27s_Republic_of_China.svg.png"
                                                          style="width: 25px"
                                                          alt="English"/> &ensp;Tiếng Trung</a>
                                                </div>
                                                <div class="col-12 m-4">
                                                    <a href="#" onclick="doGTranslate('vi|en');return false;"
                                                       title="Tiếng Anh"
                                                    ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_United_Kingdom.svg/300px-Flag_of_the_United_Kingdom.svg.png"
                                                          style="width: 25px"
                                                          alt="English"/> &ensp;Tiếng Anh</a>
                                                </div>
                                                <div class="col-12 m-4">
                                                    <a href="#" onclick="doGTranslate('vi|ko');return false;"
                                                       title="Tiếng Hàn"
                                                    ><img src="https://globalmap.edu.vn/wp-content/uploads/2020/10/flag_of_the_provisional_government_of_the_republic_of_korea-svg.png"
                                                          style="width: 25px"
                                                          alt="English"/> &ensp;Tiếng Hàn</a>
                                                </div>
                                                <div class="col-12 m-4">
                                                    <a href="#" onclick="doGTranslate('vi|ja');return false;"
                                                       title="Tiếng Nhật"
                                                    ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Japan.svg/225px-Flag_of_Japan.svg.png"
                                                          style="width: 25px"
                                                          alt="English"/> &ensp;Tiếng Nhật</a>
                                                </div>
                                                <div class="col-12 m-4">
                                                    <a href="#" onclick="doGTranslate('vi|id');return false;"
                                                       title="Tiếng Indonesian"
                                                    ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Flag_of_Indonesia.svg/225px-Flag_of_Indonesia.svg.png"
                                                          style="width: 25px"
                                                          alt="English"/> &ensp;Tiếng Indonesian</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Storage -->

                <!-- Devices -->
                <div class="mt-8">
                    <div class="d-flex align-items-center my-4 px-6">
                        <small class="text-muted me-auto">Devices</small>

                        <div class="flex align-items-center text-muted">
                            <a href="#" class="text-muted small">End all sessions</a>

                            <div class="icon icon-xs">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-log-out">
                                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                    <polyline points="16 17 21 12 16 7"></polyline>
                                    <line x1="21" y1="12" x2="9" y2="12"></line>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div class="card-body py-3">

                            <ul class="list-group list-group-flush">
                                <th:block th:each="location : ${locations}">
                                    <li class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h5>[[${location.address}]]</h5>
                                                <p>[[${location.getLastTime()}]]</p>
                                                <div style="color: red" onclick="logoutByIp(this)" th:id="${location.ip}">Đăng xuất</div>
                                            </div>
                                        </div>
                                    </li>
                                </th:block>
                            </ul>

                        </div>
                    </div>

                </div>
                <!-- Devices -->

            </div>
        </div>
    </div>
    <script>
        document.querySelector("#updateUser").addEventListener('submit', updateUser, true)
        document.querySelector("#changePassword").addEventListener('submit', changePassword, true)

        function changePassword(event) {
            event.preventDefault();
            let formData = $("#changePassword").serializeArray();
            let changePassword = {};
            for (let i = 0; i < formData.length; i++) {
                changePassword[formData[i].name] = formData[i].value;
            }
            console.log(changePassword)
            $.ajax({
                url: 'user/change_password',
                data: changePassword,
                error: function () {
                    console.log("error")
                },
                success: async function (data) {
                    if (data.length != 0) {
                        for (let i = 0; i < data.length; i++) {
                            toastDanger("Lỗi", data[i].message);
                        }
                    } else {
                        toastSuccess("Success", "Thay đổi mật khẩu thành công!")
                    }
                },
                type: 'PUT'
            });
        }

        function onUpdateProfile() {
            document.getElementById("btnUpdateProfile").disabled = false;
        }

        function chooseFile() {
            document.getElementById("uploadProfilePhoto").click();
        }

        async function setImage() {
            let file = document.querySelector("#uploadProfilePhoto").files[0];
            let data = await toBase64(file);
            let avatarView = document.getElementById("avatarView");
            avatarView.src = data;
            document.getElementById("saveImageUpload").style.display = 'unset';
        }

        async function saveUploadImage() {
            document.getElementById("loader").style.display = 'unset'
            let image = document.getElementById("avatarView").src;
            let name = uuid();
            let pre = image.indexOf("/");
            let suf = image.indexOf(";");
            let type = image.substring(Number(pre) + 1, suf);
            let data = {
                message: "upload",
                content: image.substring(image.indexOf(',') + 1, image.length)
            }

            await uploadFileToGit2(data, name + '.' + type);

            let avatarView = document.getElementsByClassName("avatarView");
            for (let i = 0; i < avatarView.length; i++) {
                avatarView[i].src = image;
            }
            let data2 = {
                image: name + '.' + type
            }
            await callAjax('user/update/image', data2, 'PUT');
            document.getElementById('loader').style.display = 'none';
            toastSuccess("Thành công", "Thay đổi thành công!");
        }

        async function updateUser(event) {
            event.preventDefault();
            let formData = $("#updateUser").serializeArray();
            let user = {};
            for (let i = 0; i < formData.length; i++) {
                user[formData[i].name] = formData[i].value;
            }
            let data = user;
            let result = await callAjax('user/update/profile', data, 'PUT')

            if (result.length != 0) {
                for (let i = 0; i < result.length; i++) {
                    toastDanger("Lỗi", result[i].message);
                }
            } else {
                toastSuccess("Success", "Cập nhật thành công!")
            }

        }

    </script>
</div>
</html>